@model IEnumerable<WebApplication2.Models.HelloWorld>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessEntityId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessEntityId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HelloWorldId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HelloWorldId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HelloWorldId })
        </td>
    </tr>
}

</table>
